.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 23vh;
}

.Navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
}

.title {
  color: #282c34;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 9px;
  border-radius: 100%;
}

.filter-panel {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #282c34;
  width: 86%;
}

.cat-detail {
  width: 30%;
  margin: 3% 1%;
  background-color: orangered;
  border-radius: 10px;
}

.cat-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 204px;
}

.card-text {
  text-align: start;
  margin: 10px 30px;
  font-size: medium;
}

.input-container {
  flex-direction: row;
  align-items: center;
  margin-right: 33px;
}

.input-widget {
  outline: none;
  border-radius: 9px;
  padding: 9px;
}

.fixed-widget {
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: orangered;
  height: 23vh;
  /* background-color: #282c34; */
  color: #fff;
}

.loader {
  border: 3px solid white;
  border-radius: 50%;
  border-top: 3px solid orangered;
  width: 30px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
  height: 30px;
  -webkit-animation: spin 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: spin 2s linear infinite; /* Safari */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(720deg); }
}

.queryButton {
  border-radius: 9px;
  width: 12vh;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid whitesmoke;
}


@media screen and (max-width: 700px) {
  .cat-detail {
    width: 96%;
  }
  .filter-panel {
    flex-direction: column;
  }

  .input-container {
    width: 100%;
    margin-bottom: 2vh;
  }
  .input-label {
    display: inline-block;
    width: 42%;
    text-align: right;
    margin-right: 7px;
  }
  .input-widget {
    width: 50%;
  }
  select.input-widget {
    width: 55%;
  }
  .App-header {
    padding-top: 25vh;
  }
  .fixed-widget {
    height: 45vh;
  }
  .info {
    line-height: 25px;
  }
  .queryButton {
    width: 92%;
  }
}
